.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__data__info {
    background-color: $grey;
    padding: 15px 10px;
    border-radius: 15px;
    &:hover {
      background-color: $grey--hover;
    }
    .video__createdAt {
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
    }
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  .video__comment {
    padding: 10px;
    border-radius: 999px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
  }
}
