extends base.pug

block content 
    div.upload__container
        div.upload__video
            video#preview
            button#actionBtn.social__btn Start Recording
    if errorMessage 
        span=errorMessage
    form(method="post", enctype="multipart/form-data")
        label(for="video") Video File 
        input(type="file", accept="video/*", required, id="video", name="video")
        label(for="thumbnail") Thumbnail File
        input(type="file", accept="image/*", required, id="thumbnail", name="thumbnail")
        input(name="title" placeholder="Title", required, type="text")
        input(name="description" placeholder="Description", required, type="text")
        input(name="hashtags" placeholder="Hashtags, separated by comma.", required, type="text")
        input(type="submit", value="Upload Video")

block scripts 
    script(src="/goods/js/recoder.js")